* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: hotpink;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

input {
    appearance: none;
    border: none;
    font-size: 0.9rem;
    padding: 1rem;
    background-color: #888;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
}

